*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;/*column-wise(y-axis): center*/
    justify-content: start;/*x-axis:center*//*from:-start*/
    flex-direction: column;/*vertical(y-axis) each element*/
    gap: 30px;
    background-color: rgb(43, 65, 57);
    padding: 30px;
}

h2{
    color: aliceblue;
    display: flex;
    align-items: center;
    font-size: 35px;

}

h2 img{
    margin-left: 20px;

}

.addlist{
    width: 100%;
    max-width: 800px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    border: none;
    box-shadow: 2px 2px 10px black;/* x, y, blur, color*/
    padding-left: 20px;
}

#inputArea{
    width: 100%;
    flex: 1;
    border: none;
   outline: none;/*when we click, black outline visible*/
   background-color: white;
   padding: 10px;
    font-size: 14px;
}

#add{
border: none;
outline: none;
padding: 16px 50px;/*y x-axis*/
background-color: rgb(51, 92, 78);
color: #fff;
border-radius: 30px;
font-size: 17px;
box-shadow: 2px 2px 10px black;
cursor: pointer;

}

.addtask{
    width: 100%;
    max-width: 800px;

}

ul{
display: flex;
align-items: center;
flex-direction: column;
padding: 10px;
gap: 20px;
width: 100%;
max-height: 500px;/*increase size as list inc. and scroll comes in height.*/
overflow: auto;

}

li{
    width: 90%;
    height: 10%;
    background-color: white;
    list-style: none;
    padding: 12px 50px;/*x,y*/
    border-radius: 30px;
    color: #344141;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
    position: relative;/*make relative to apply/use "before" & in before make position: absolute*/
}

li::before{
position: absolute;
content: '';/*empty content*/
width: 29px;
height: 29px;
background-image: url("circle2.png");
appearance: none;
background-size: cover;
left: 15px;
background-position: center;/*circle in bg-center*/

}

.checked{
color: #555;
text-decoration: line-through;
background-color: rgb(80, 235, 114);
}

.checked::before{
    background-image: url("checkmark.png");
    width: 25px;
    height: 25px;
}

li span{
    position: absolute;
    right: 10px;
    top: 8px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    color: #344141;
    border-radius: 50%;
}

li span:hover{
    background-color: #55555533;
}
